<%- include('head') -%>
<!-- Add page specific head content here -->
<%- include('navbar') -%>



    <h1 class="heading"><%= title %></h1>
    <% content.forEach(paragraph => { %>
        <p class="content"><%= paragraph %></p>
    <% }) %>
    



<%- include('footer') -%>